* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans";
}

.container {
  display: flex;
  padding: 14px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  background-color: rgb(66,196,227);
  color: white;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.topbar {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 1;
  box-shadow: 0 1px 4px grey;
}

.topbar .container {
  justify-content: space-between;
  align-items: center;
}

.topbar .btn {
  background-color: transparent;
  color: rgb(22,29,57);
  padding: 0;
}

.btn-navbar {
  display: block;
  background-color: transparent;
}

.btn-navbar span {
  display: none;
}

.btn-navbar span.active {
  display: block;
}

.logo {
  font-size: 2rem;
  color: rgb(22,29,57);
}

.topbar .logo .material-icons-outlined {
  display: none;
}

.navbar {
  display: none;
  width: 100%;
  padding: 24px 0;
}

.navbar.active {
  display: flex;
  flex-direction: column;
}

.navbar a {
  font-size: 1.6rem;
  padding-bottom: 10px;
}

.navbar a.active {
  font-weight: bold;
}

.header {
  color: rgb(22,29,57);
  font-size: 3rem;
  padding: 80px 0;
}

.header .container {
  display: block;
}

.search-bar .container{
  flex-wrap: nowrap;
}

.search-bar input {
  width: 100%;
  border: none;
  background-color: rgb(243,244,248);
  padding-left: 12px;
  font-size: 1.6rem;
}

div.categories {
  background-color: transparent;
  padding: 0;
}

.categories .container{
  flex-wrap: nowrap;
  align-items: center;
  overflow: auto;
}

.categories h3 {
  display: none;
  color: rgb(22,29,57);
}

.categories .btn {
  display: inline;
  background-color: transparent;
  color: grey;
  padding: 0;
}

.categories ul {
  display: flex;
  list-style: none;
  overflow: auto;
  align-items: center;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.categories ul::-webkit-scrollbar {
  display: none;
}

.categories li {
  margin-right: 18px;
  font-size: 1.4rem;
  cursor: pointer;
}

.categories li.active {
  background-color: rgb(243,244,248);
  padding: 8px;
  border-radius: 4px;
  color: rgb(53,62,96);
  font-weight: bold;
}

.categories .counts {
  display: none;
}

.collection h2 {
  width: 100%;
  color: rgb(53,62,96);
  font-size: 2rem;
}

.collection .book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.collection img {
  width: 45%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgb(243,244,248);
  box-shadow: 3px 3px 6px grey;
}

.sidebar .search-bar, .sidebar .categories {
  display: none;
}

.sidebar .container {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(243,244,248);
  justify-content: space-between;
  padding: 18px;
  align-content: start;
}

.card h3 {
  width: 100%;
  margin-bottom: 12px;
  font-size: 1.2rem;
}

.instagram {
  width: 48%;
}

.instagram img {
  width: 47%;
  margin-bottom: 12px;
}

.top-bloggers {
  width: 48%;
}

.mini-card {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
}

.mini-card .image {
  width: 30%;
  margin-right: 12px;
}

.mini-card .info {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.mini-card .title {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 8px;
}

.mini-card .subtitle {
  font-size: 0.8rem;
}

.statistics, .donate-bar {
  /* padding: 0 40px; */
}

.statistics .container, .donate-bar .container {
  background-color: rgb(66,196,227);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 20px;
  width: 60%;
}

.statistics .mini-card .image {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 10px;
  width: auto;
  color: white;
}

.statistics .mini-card .info {
  color: white;
}

.spaces {
  background-image: url("img/background/victor-xok-eHRzs3zunvQ-unsplash_editted.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.spaces .overlay {
  background-color: rgba(53, 62, 96, 0.808);
  padding: 20px 0;
}

.spaces .overlay h2, .spaces .overlay p{
  width: 100%;
  color: white;
  margin-bottom: 12px;
  text-align: center;
}

.spaces .overlay h2 {
  font-size: 2rem;
}

.spaces .overlay p {
  font-size: 1rem;
}

.spaces .overlay .btn {
  margin-bottom: 12px;
  font-size: 0.8rem;
}

.donate-bar {
  margin-bottom: 60px;
}

.donate-bar h3 {
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
  font-size: 1.6rem;
}

.donate-bar .btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.donate-bar .btn {
  background-color: rgba(255, 255, 255, 0.25);
  min-width: 100px;
  margin-bottom: 12px;
  font-size: 1.4rem;
}

.footer {
  background-color: rgb(22,29,57);
}

.footer p, .footer a {
  color: white;
}

.footer .btn {
  background-color: transparent;
}

.footer a:not(.logo) {
  order: 2;
}

.footer p {
  order: 3;
}






/* Responsive */

@media screen and (min-width: 320px) {
  html {
    font-size: calc(10px + 8 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}










/* Rules for sizing the icon. */
.material-icons.md-18,
.material-icons-outlined.md-18 {
  font-size: 1rem;
}
.material-icons.md-24,
.material-icons-outlined.md-24 {
  font-size: 2rem;
}
.material-icons.md-36,
.material-icons-outlined.md-36 {
  font-size: 3rem;
}
.material-icons.md-48,
.material-icons-outlined.md-48 {
  font-size: 4rem;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark,
.material-icons-outlined.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive,
.material-icons-outlined.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light,
.material-icons-outlined.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive,
.material-icons-outlined.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

  